.debug [class^="col"] {
    border: 1px solid black;
    height: 80px;
}

/* ################### /.DEBUG ####################### */


:root {
    --bs-header: #2c3e50;
    --bs-main: #1abc9c;
    --bs-f-top: #3a546d;
    --bs-f-bottom: #2c3e50;
}
/* ################### /.COLOR ####################### */

img {
    max-width: 100% ;
}

i {
    margin-bottom: 0.5rem;
}

.star span {
    height: 2px;
    width: 10%;
    position: relative;
    bottom: 5px;
    left: 0;
}

.form-control::placeholder {
    color: black;
    font-weight: 600;
}

.form-control {
    font-weight: 600;
}

/* ################### /.UTILITIES ####################### */

#site_header {
    background-color: var(--bs-header);
}
/* ################### /.HEADER ####################### */

section:nth-child(odd) {
    background-color: var(--bs-main);
}



/* ################### /.MAIN ####################### */

#footer_top {
    background-color: var(--bs-f-top);
}

#footer_bottom {
    background-color: var(--bs-f-bottom);
}


/* ################### /.FOOTER ####################### */