.debug [class^="col"] {
    background-color: rgba(190, 241, 8, 0.434);
    border: 1px solid black;
    height: 80px;
}

.debug #site_header {
    height: 80px;
}
/* ################### /.DEBUG ####################### */


:root {
    --bs-header: #2c3e50;
}
/* ################### /.COLOR ####################### */



#site_header {
    background-color: var(--bs-header);
}
/* ################### /.HEADER ####################### */
